img {
  width: 250px;
  height: 250px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

body{
  background: lightcyan;
}

.iconoCarrito{
  margin-left: 96vw;
  width: 2.5vw;
  height: auto;
}

.titulo{
  margin-top: 70vw;
}